.mobile-btn {
  @include mq(tablet) {
    display: none;
  }
  position: relative;
  z-index: 99;
  padding: 5px;
  display: flex;
  align-items: center;

  border-radius: 5px;
  border: none;
  outline: transparent;
  background-color: transparent;

  cursor: pointer;

  &__icon {
    width: 34px;
    height: 22px;
    fill: var(--hover);
    transition: fill var(--animation-time) var(--cubic);

    &--close {
      opacity: 0;
    }
  }

  &__icon:hover {
    fill: var(--white-txt-color);
  }
}
// .mobile-btn:hover,
// .mobile-btn:focus {
//   background-color: var(--bg-hover);
// }
// .mobile-btn:active {
//   background-color: var(--bg-hover);
// }

.mobile-btn.is-active .mobile-btn__icon--open {
  opacity: 0;
}
.mobile-btn.is-active .mobile-btn__icon--close {
  opacity: 1;
}

.no-scroll {
  overflow-y: hidden;
}
