.price {
  padding-top: 80px;

  background-image: url(../images/price/prise-bg.png);
  background-repeat: no-repeat;
  background-position: center;

  @include mq(tablet) {
    background-image: url(../images/price/bg-prise_md.png);
    background-image: -webkit-image-set(url(../images/price/bg-prise_md.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/price/bg-prise_md@2x.png);
      background-image: -webkit-image-set(url(../images/price/bg-prise_md@2x.webp) 2x);
    }
  }
  @include mq(desktop) {
    background-image: url(../images/price/bg-prise_lg.png);
    background-image: -webkit-image-set(url(../images/price/bg-prise_lg.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/price/bg-prise_lg@2x.png);
      background-image: -webkit-image-set(url(../images/price/bg-prise_lg@2x.webp) 2x);
    }
  }
  &__title {
    margin-bottom: 30px;

    text-align: center;
    font-size: 22px;
    line-height: 1.227;
    letter-spacing: 0.44px;
    font-weight: 700;
    color: var(--title-txt-color);
    @include mq(mobile) {
    }
    @include mq(tablet) {
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 1.225;
      letter-spacing: 0.8px;
    }
    @include mq(desktop) {
      margin-bottom: 60px;

      text-align: left;
    }

    &--span {
      margin-left: 15px;
      font-size: 16px;
      font-weight: 300;

      color: var(--accent-color);
      @include mq(mobile) {
      }
      @include mq(tablet) {
        margin-left: 25px;
        font-size: 25px;
      }
      @include mq(desktop) {
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mq(mobile) {
    }
    @include mq(mobile) {
      gap: 40px;
    }
    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 60px;
      grid-row-gap: 60px;

      grid-template-areas:
        'price1 price2'
        'price1 price3';

      .price1 {
        grid-area: price1;
      }
      .price2 {
        grid-area: price2;
      }
      .price3 {
        grid-area: price3;
      }
    }
  }

  &__wrapper {
    padding: 40px;
    border: solid 1px var(--accent-color);
    border-radius: 40px;
    background: var(--white-txt-color);

    @include mq(mobile) {
    }
    @include mq(tablet) {
      padding: 52px 119px;
    }
    @include mq(desktop) {
      padding: 52px;
    }
  }
  &__content-title {
    margin-bottom: 30px;

    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: var(--title-txt-color);
    @include mq(mobile) {
    }
    @include mq(tablet) {
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 1.233;
      letter-spacing: 0.45px;
    }
    @include mq(desktop) {
      margin-bottom: 60px;
    }
  }
  &__list {
    &--decorate::after {
      content: '';
      display: block;
      margin-top: 53px;
      margin-bottom: 57px;
      width: 310px;
      height: 1px;
      background-image: url(../images/price/decorate-line-price.svg);
      @include mq(mobile) {
      }
      @include mq(tablet) {
        width: auto;
        margin-top: 72px;
        margin-bottom: 72px;
      }
      @include mq(desktop) {
        margin-top: 88px;
        margin-bottom: 79px;
      }
    }
  }
  &__item {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.227;

    @include mq(mobile) {
    }
    @include mq(tablet) {
      font-size: 25px;
      line-height: 1.2;
    }
    @include mq(desktop) {
    }

    &--span {
      color: var(--2, #1a6d90);
      text-align: right;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.4px;

      @include mq(mobile) {
      }
      @include mq(tablet) {
        font-size: 25px;
        letter-spacing: 0.5px;
      }
      @include mq(desktop) {
      }
    }

    &--span::before {
      content: '';
      position: absolute;
      top: 13px;
      left: 130px;

      width: 80px;
      height: 1px;
      background-image: url(../images/price/line-price.svg);

      @include mq(mobile) {
      }
      @include mq(tablet) {
        left: 175px;

        width: 160px;
      }
      @include mq(desktop) {
        left: 135px;
      }
    }

    &--flex {
      display: flex;
      justify-content: space-between;
    }
  }
  @include mq(mobile) {
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
    @include mq(tablet) {
      &__item:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__sublist {
    padding-top: 20px;
  }

  &__subitem {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;

    @include mq(mobile) {
    }
    @include mq(tablet) {
      font-size: 22px;
      line-height: 1.08;
    }
    @include mq(desktop) {
    }
  }

  @include mq(mobile) {
    &__subitem:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include mq(tablet) {
    &__subitem:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @include mq(desktop) {
  }
}
