.price {
  padding-top: 80px;

  background-image: url(../../../images/price/prise-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  &__title {
    margin-bottom: 60px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.225;
    letter-spacing: 0.8px;
    color: var(--title-txt-color);

    &--span {
      margin-left: 25px;
      font-size: 25px;
      font-weight: 300;
      color: var(--accent-color);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;

    grid-template-areas:
      'price1 price2'
      'price1 price3';

    .price1 {
      grid-area: price1;
    }
    .price2 {
      grid-area: price2;
    }
    .price3 {
      grid-area: price3;
    }
  }

  &__wrapper {
    padding: 52px;
    border: solid 1px var(--accent-color);
    border-radius: 40px;
    background: var(--white-txt-color);
  }
  &__content-title {
    margin-bottom: 40px;

    font-size: 30px;
    font-weight: 600;
    line-height: 1.233;
    letter-spacing: 0.45px;
    color: var(--title-txt-color);
  }
  &__list {
    &--decorate::after {
      content: '';
      display: block;
      margin-top: 88px;
      margin-bottom: 79px;
      height: 1px;
      background-image: url(../images/price/decorate-line-price.svg);
    }
  }
  &__item {
    position: relative;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;

    &--span {
      color: var(--2, #1a6d90);
      text-align: right;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

    &--span::before {
      content: '';
      position: absolute;
      top: 13px;
      left: 135px;

      width: 160px;
      height: 1px;
      background-image: url(../images/price/line-price.svg);
    }

    &--flex {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__sublist {
    padding-top: 20px;
  }

  &__subitem {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.08;
  }
  &__subitem:not(:last-child) {
    margin-bottom: 16px;
  }
}
