.contacts {
  padding: 20px 0;

  background-repeat: no-repeat;
  background-position: center;

  @include mq(mobile) {
    padding: 40px 0;
  }
  @include mq(tablet) {
    background-image: url(../images/contacts/bg-contacts_md.png);
    background-image: -webkit-image-set(url(../images/contacts/bg-contacts_md.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/contacts/bg-contacts_md@2x.png);
      background-image: -webkit-image-set(url(../images/contacts/bg-contacts_md@2x.webp) 2x);
    }
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include mq(tablet) {
    background-image: url(../images/contacts/bg-contacts_lg.png);
    background-image: -webkit-image-set(url(../images/contacts/bg-contacts_lg.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/contacts/bg-contacts_lg@2x.png);
      background-image: -webkit-image-set(url(../images/contacts/bg-contacts_lg@2x.webp) 2x);
    }
  }

  &__container {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 32px;

    margin-left: auto;
    margin-right: auto;

    @include mq(mobile) {
      gap: 22px;
    }
    @include mq(tablet) {
      flex-direction: row;
      justify-content: space-between;

      // gap: 137px;
      // width: 738px;

      margin-bottom: 60px;
    }
    @include mq(desktop) {
      width: 706px;
      gap: 140px;
      margin-bottom: 80px;
    }
  }
  &__item {
  }
  &__link {
    display: flex;
    align-items: center;

    color: var(--title-txt-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.227;

    transition: color var(--animation-time) var(--cubic);

    @include mq(mobile) {
      font-size: 22px;
    }
    @include mq(tablet) {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.233;
      letter-spacing: 0.45px;
    }
    @include mq(desktop) {
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--title-txt-color-opacity-80);
  }
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;

    fill: var(--accent-color);
    @include mq(tablet) {
      width: 50px;
      height: 50px;
    }
  }

  &__wrap {
    position: relative;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    // width: 470px;
    padding: 15px;

    border-radius: 20px;
    border: 2px solid var(--accent-color);

    @include mq(mobile) {
      padding: 32px 60px;
    }
    @include mq(tablet) {
      margin-bottom: 40px;
      // width: 470px;
      padding: 41px 231px;
    }
    @include mq(desktop) {
      margin-bottom: 60px;
      width: 470px;
      padding: 41px 99px;
    }
  }
  @include mq(desktop) {
    &__wrapper::before,
    &__wrapper::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 315px;
      height: 1px;
    }
  }

  &__wrapper::before {
    left: 0;
    background-image: url(../images/contacts/line-l.svg);
  }
  &__wrapper::after {
    right: 0;
    background-image: url(../images/contacts/line-r.svg);
  }
  &__content {
    margin-bottom: 15px;

    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.208;
    letter-spacing: 0.36px;

    @include mq(mobile) {
      font-size: 24px;
    }
    @include mq(tablet) {
      font-size: 30px;
      line-height: 1.233;
      letter-spacing: 0.45px;
    }
    @include mq(desktop) {
    }
  }
  &__uppercontent {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;

    @include mq(tablet) {
      font-size: 20px;
    }
    @include mq(tablet) {
      font-size: 22px;
      line-height: 1.227;
    }
  }
  &__map {
    display: flex;
    height: 350px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

    @include mq(mobile) {
    }
    @include mq(tablet) {
      height: 500px;
    }
    @include mq(desktop) {
      // width: 1170px;
      height: 500px;
    }

    // border: 1px solid;
  }
}
