.pupils {
  padding-top: 40px;

  background-repeat: no-repeat;
  background-position: center;

  @include mq(tablet) {
    background-image: url(../images/pupils/bg-pupils_md.png);
    background-image: -webkit-image-set(url(../images/pupils/bg-pupils_md.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/pupils/bg-pupils_md@2x.png);
      background-image: -webkit-image-set(url(../images/pupils/bg-pupils_md@2x.webp) 2x);
    }
    // background-image: url(../images/pupils/bg_pupils.png);
    padding-top: 80px;
  }
  &__list {
  }
  &__item {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'pupils__img-wrapper pupils__title'
      'pupils__img-wrapper pupils__content-wrapper';

    margin-left: auto;
    margin-right: auto;
    height: 265px;

    @include mq(mobile) {
      height: 295px;
    }
    @include mq(tablet) {
      grid-template-columns: 0.25fr 1fr;
      grid-template-rows: 0.25fr 1fr;
      grid-template-areas:
        'pupils__img-wrapper pupils__title'
        'pupils__img-wrapper pupils__content-wrapper';
      height: 325px;
      padding: 0 60px;
    }
    @include mq(desktop) {
      grid-template-columns: 0.25fr 1fr;
      grid-template-rows: 0.25fr 1fr;

      grid-template-areas:
        'pupils__img-wrapper pupils__title'
        'pupils__img-wrapper pupils__content-wrapper';
      height: 340px;
      padding: 0 100px;
    }
  }

  &__img-wrapper {
    grid-area: pupils__img-wrapper;

    // display: none;
    margin-right: 10px;
    padding: 3px;

    width: 58px;
    height: 58px;
    border-radius: 10px;
    border: 1px solid var(--border-color);

    @include mq(mobile) {
      display: block;
      margin-right: 10px;
      width: 81px;
      height: 81px;
      border-radius: 14px;
    }
    @include mq(tablet) {
      margin-right: 30px;
      padding: 7px;

      width: 225px;
      height: 225px;
      border-radius: 35px;
    }
    @include mq(desktop) {
      margin-right: 20px;
      padding: 10px;
      width: 290px;
      height: 290px;
      border-radius: 40px;
    }
  }
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 10px;

    @include mq(mobile) {
      width: 73px;
      height: 73px;
    }
    @include mq(tablet) {
      width: 209px;
      height: 209px;
      border-radius: 30px;
    }
    @include mq(desktop) {
      width: 268px;
      height: 268px;
    }
  }
  &__wrapper {
  }
  &__title {
    grid-area: pupils__title;

    margin-bottom: 20px;

    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;

    color: var(--title-txt-color);

    @include mq(mobile) {
      font-size: 18px;
    }
    @include mq(tablet) {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.23;
    }
    @include mq(desktop) {
      margin-bottom: 50px;

      font-size: 40px;
      line-height: 1.225;
      letter-spacing: 0.8px;
    }
  }
  &__content-wrapper {
    grid-area: pupils__content-wrapper;
  }
  &__content {
    // width: 296px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.222;

    &--margin {
      margin-bottom: 18px;
    }
    @include mq(mobile) {
      // width: 296px;
      font-size: 18px;
    }
    @include mq(tablet) {
      // width: 436px;
      font-size: 20px;

      &--margin {
        margin-bottom: 20px;
      }
    }
    @include mq(desktop) {
      // width: 630px;

      font-size: 22px;
      line-height: 1.227;

      &--margin {
        margin-bottom: 27px;
      }
    }
  }
}
.mySwiper {
  position: absolute;
}

// .container .mySwiper {
//   height: calc(100% + 40px);
// }

.s-button-next,
.s-button-prev {
  display: none;
  @include mq(tablet) {
    display: block;
  }
}

.mySwiper .s-button-next::after,
.mySwiper .s-button-prev::after {
  content: '';
  position: absolute;
  bottom: calc((100% - 195px) / 2);
  width: 50px;
  height: 240px;

  cursor: pointer;
  z-index: 10;

  opacity: 50%;

  transition: opacity var(--animation-time) var(--cubic);
  @include mq(mobile) {
  }
  @include mq(tablet) {
    bottom: calc((100% - 100px) / 2);
    width: 40px;
    height: 198px;
    background-size: cover;
  }
  @include mq(desktop) {
    bottom: calc((100% - 195px) / 2);
    width: 50px;
    height: 240px;
  }
}

.mySwiper .s-button-next::after {
  right: 10px;
  background-image: url(../images/svg/arrow.svg);
}

.mySwiper .s-button-prev::after {
  left: 10px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(-1, 1);
}

.mySwiper .s-button-next:hover::after,
.mySwiper .s-button-prev:hover::after,
.mySwiper .s-button-next:focus::after,
.mySwiper .s-button-prev:focus::after {
  opacity: 100%;
}

//   // content: '';
//   // position: relative;
//   display: inline-block;
//   width: 50px;
//   height: 50px;
//   color: aqua;
//   background-color: blanchedalmond;
// }
// &__button-prev {
// }

.mySwiper .swiper-pagination-bullet {
  background-color: var(--title-txt-color);

  width: 20px;
  height: 20px;
  @include mq(tablet) {
  }
  @include mq(desktop) {
    width: 30px;
    height: 30px;
  }
  // font-size: 80px;
  // line-height: 60px;
  // font-size: 60px;
}
