.footer {
  padding: 40px 0;
  background: var(--footer-gradient);

  @include mq(mobile) {
  }
  @include mq(tablet) {
    padding: 60px 0;
  }
  @include mq(desktop) {
    padding: 90px 0;
  }
  &__wrapper {
    display: flex;
    &--content {
      display: flex;
      justify-content: space-between;

      width: 795px;
    }
    &--contacts {
    }
  }
  &__list {
    text-align: center;
    &--contacts {
      display: none;
      text-align: right;
      @include mq(tablet) {
        display: block;
      }
    }
    @include mq(desktop) {
      text-align-last: left;
    }

    &--contacts-img {
      display: flex;
      flex-direction: column;
    }
  }
  &__item {
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;

    @include mq(tablet) {
      margin-bottom: 16px;
    }
  }
  &__link {
    color: var(--white-txt-color);

    font-size: 18px;
    font-weight: 400;
    line-height: 1.222;

    transition: text-shadow var(--animation-time) var(--cubic),
      opacity var(--animation-time) var(--cubic);

    @include mq(mobile) {
    }
    @include mq(tablet) {
      font-size: 22px;
      line-height: 1.227;
    }
    @include mq(desktop) {
    }
  }

  &__link-img {
    @include mq(tablet) {
      display: none;
    }
  }

  &__link:hover,
  &__link:focus {
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
  }
  &__link:active {
    text-shadow: none;
    opacity: 0.5;
  }

  &__content {
    display: none;

    margin-bottom: 30px;
    color: var(--white-txt-color);
    text-align: right;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.33px;
    text-decoration-line: underline;

    @include mq(desktop) {
      display: block;
    }
  }

  &__img {
    fill: var(--white-txt-color);
    width: 60px;
    height: 60px;
  }

  &__copyright {
    margin-top: 30px;
    color: var(--white-txt-color);

    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.214;

    opacity: 0.6;

    @include mq(mobile) {
    }
    @include mq(tablet) {
      font-size: 16px;
      line-height: 1.25;
    }
    @include mq(desktop) {
    }
  }
}
