.nav {
  //   margin-right: 111px;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    // margin-right: 30px;
  }
  &__link {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white-txt-color);
    font-size: 26px;
    font-weight: 400;
    line-height: 1.231;
    letter-spacing: 0.39px;

    transition: text-shadow var(--animation-time) var(--cubic),
      opacity var(--animation-time) var(--cubic);
  }
  &__link:hover,
  &__link:focus {
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
  }
  &__link:active {
    text-shadow: none;
    opacity: 0.5;
  }
}
