.nav {
  //   margin-right: 111px;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    // margin-right: 30px;
  }
  &__link {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white-txt-color);
    font-size: 26px;
    font-weight: 400;
    line-height: 1.231;
    letter-spacing: 0.39px;
  }
}
