.btn {
  padding: 26px 81px;

  font-size: 22px;
  font-weight: 500;
  line-height: 1.227;
  letter-spacing: 0.33px;
  color: var(--white-txt-color);

  border: none;
  border-radius: 20px;
  background: var(--gradient-stroke);
}
