@import '../base/reset';

body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.title {
  margin-bottom: 25px;

  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.233;
  letter-spacing: 0.45px;

  @include mq(mobile) {
    margin-bottom: 30px;
    font-size: 30px;
  }
  @include mq(tablet) {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 1.22;
    letter-spacing: 1px;
  }
  @include mq(desktop) {
    margin-bottom: 60px;
  }
}

.subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: var(--title-txt-color);
}

.text-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;

  color: var(--main-txt-color);
}

.form-label {
  margin-bottom: 6px;

  line-height: 1.143;
}

.form-input,
.textarea {
  margin-bottom: 10px;
  padding: 6px 8px;

  line-height: 1.143;

  border: 1px solid var(--grey-color);
  border-radius: 2px;
}

.form-input::placeholder,
.textarea::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.143;

  color: var(--dark-grey);
}

//   color: var(--title-color);
//   font-weight: 700;
//   font-size: 28px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
//   font-style: var(--secondary-font);

//   @media screen and (min-width: 1200px) {
//     margin-bottom: 50px;

//     font-size: 36px;
//     line-height: 1.16;
//   }
// }
