.header {
  padding-top: 15px;
  padding-bottom: 15px;
  @include mq(mobile) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include mq(tablet) {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  @include mq(desktop) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  border-radius: 0px 0px 30px 30px;
  background: var(--gradient-stroke);
  box-shadow: 0px 8px 43px 0px rgba(20, 116, 157, 0.3);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(tablet) {
      width: 607px;
    }
    @include mq(desktop) {
      width: 991px;
    }
  }

  &__link {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--white-txt-color);
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.33px;

    transition: text-shadow var(--animation-time) var(--cubic),
      opacity var(--animation-time) var(--cubic);

    @include mq(desktop) {
      display: block;
    }
    // @include mq(desktop) {
    //   display: block;
    // }
  }
  &__link-img {
    display: block;
    @include mq(desktop) {
      display: none;
    }
  }
  &__img {
    width: 51px;
    height: 51px;
    fill: var(--white-txt-color);

    @include mq(mobile) {
      width: 60px;
      height: 60px;
    }
  }
  &__link:hover,
  &__link:focus {
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
  }
  &__link:active {
    text-shadow: none;
    opacity: 0.5;
  }
}
