.about {
  padding-top: 25px;

  // background-image: url(../images/about/about-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include mq(mobile) {
    padding-top: 40px;
    background-image: url(../images/about/bg-about_sm.png);
    background-image: -webkit-image-set(url(../images/about/bg-about_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-about_sm@2x.png);
      background-image: -webkit-image-set(url(../images/about/bg-about_sm@2x.webp) 2x);
    }
  }
  @include mq(tablet) {
    padding-top: 80px;
    background-image: url(../images/about/bg-about_md.png);
    background-image: -webkit-image-set(url(../images/about/bg-about_md.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-about_md@2x.png);
      background-image: -webkit-image-set(url(../images/about/bg-about_md@2x.webp) 2x);
    }
  }
  @include mq(desktop) {
    background-image: url(../images/about/bg-about_lg.png);
    background-image: -webkit-image-set(url(../images/about/bg-about_lg.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-about_lg@2x.png);
      background-image: -webkit-image-set(url(../images/about/bg-about_lg@2x.webp) 2x);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 15px;
    // height: 151px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.227;

    border-radius: 30px;
    border: solid 1px var(--accent-color);
    background: #f2fbfe;

    @include mq(mobile) {
      font-size: 22px;
      padding: 34px 38px;
      height: 151px;
      border-radius: 50px;
    }
    @include mq(tablet) {
      height: 210px;
      padding: 40px 59px;

      font-size: 30px;
      font-weight: 500;
      line-height: 1.233;
      letter-spacing: 0.45px;
    }
    @include mq(desktop) {
      height: 283px;
      padding: 52px 80px;

      font-size: 38px;
      line-height: 1.211;
      letter-spacing: 0.57px;
    }
  }

  &__img {
    margin-right: 15px;

    width: 60px;
    height: 60px;
    border-radius: 10px;

    @include mq(mobile) {
      margin-right: 30px;

      width: 83px;
      height: 83px;
      border-radius: 15px;
    }
    @include mq(tablet) {
      margin-right: 40px;

      width: 130px;
      height: 130px;
    }
    @include mq(desktop) {
      margin-right: 100px;

      width: 180px;
      height: 180px;
      border-radius: 30px;
    }

    &--r {
      margin: 0 0 0 15px;
      @include mq(mobile) {
        margin: 0 0 0 30px;
      }

      @include mq(tablet) {
        margin: 0 0 0 40px;
      }
      @include mq(desktop) {
        margin: 0 0 0 100px;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  @include mq(tablet) {
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include mq(desktop) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__item:nth-child(2n) {
    justify-content: flex-end;
    text-align: right;
  }

  &__item:nth-child(1) {
    background-image: url(../images/about/bg-levels_sm.jpg);
    background-image: -webkit-image-set(url(../images/about/bg-levels_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-levels_sm@2x.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-levels_sm@2x.webp) 2x);
    }
    @include mq(mobile) {
      background-image: url(../images/about/bg-levels_sm.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-levels_sm.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-levels_sm@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-levels_sm@2x.webp) 2x);
      }
    }
    @include mq(tablet) {
      background-image: url(../images/about/bg-levels_md.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-levels_md.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-levels_md@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-levels_md@2x.webp) 2x);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/about/bg-levels_lg.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-levels_lg.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-levels_lg@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-levels_lg@2x.webp) 2x);
      }
    }
  }

  &__item:nth-child(2) {
    background-image: url(../images/about/bg-lesson_sm.jpg);
    background-image: -webkit-image-set(url(../images/about/bg-lesson_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-lesson_sm@2x.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-lesson_sm@2x.webp) 2x);
    }
    @include mq(mobile) {
      background-image: url(../images/about/bg-lesson_sm.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-lesson_sm.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-lesson_sm@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-lesson_sm@2x.webp) 2x);
      }
    }
    @include mq(tablet) {
      background-image: url(../images/about/bg-lesson_md.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-lesson_md.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-lesson_md@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-lesson_md@2x.webp) 2x);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/about/bg-lesson_lg.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-lesson_lg.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-lesson_lg@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-lesson_lg@2x.webp) 2x);
      }
    }
  }

  &__item:nth-child(3) {
    background-image: url(../images/about/bg-children_sm.jpg);
    background-image: -webkit-image-set(url(../images/about/bg-children_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-children_sm@2x.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-children_sm@2x.webp) 2x);
    }
    @include mq(mobile) {
      background-image: url(../images/about/bg-children_sm.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-children_sm.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-children_sm@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-children_sm@2x.webp) 2x);
      }
    }
    @include mq(tablet) {
      background-image: url(../images/about/bg-children_md.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-children_md.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-children_md@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-children_md@2x.webp) 2x);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/about/bg-children_lg.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-children_lg.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-children_lg@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-children_lg@2x.webp) 2x);
      }
    }
  }

  &__item:nth-child(4) {
    background-image: url(../images/about/bg-graph_sm.jpg);
    background-image: -webkit-image-set(url(../images/about/bg-graph_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-graph_sm@2x.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-graph_sm@2x.webp) 2x);
    }
    @include mq(mobile) {
      background-image: url(../images/about/bg-graph_sm.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-graph_sm.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-graph_sm@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-graph_sm@2x.webp) 2x);
      }
    }
    @include mq(tablet) {
      background-image: url(../images/about/bg-graph_md.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-graph_md.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-graph_md@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-graph_md@2x.webp) 2x);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/about/bg-graph_lg.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-graph_lg.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-graph_lg@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-graph_lg@2x.webp) 2x);
      }
    }
  }

  &__item:nth-child(5) {
    background-image: url(../images/about/bg-online_sm.jpg);
    background-image: -webkit-image-set(url(../images/about/bg-online_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/about/bg-online_sm@2x.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-online_sm@2x.webp) 2x);
    }
    @include mq(mobile) {
      background-image: url(../images/about/bg-online_sm.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-online_sm.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-online_sm@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-online_sm@2x.webp) 2x);
      }
    }
    @include mq(tablet) {
      background-image: url(../images/about/bg-online_md.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-online_md.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-online_md@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-online_md@2x.webp) 2x);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/about/bg-online_lg.jpg);
      background-image: -webkit-image-set(url(../images/about/bg-online_lg.webp) 1x);
      @include mq(retina) {
        background-image: url(../images/about/bg-online_lg@2x.jpg);
        background-image: -webkit-image-set(url(../images/about/bg-online_lg@2x.webp) 2x);
      }
    }
  }
}
