.up {
  position: fixed;
  right: 20px;
  bottom: 0;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  width: 97px;
  height: 50px;

  background-color: var(--title-txt-color-opacity-50);

  cursor: pointer;
  background-image: url('../../../images/svg/up.svg');
}

.up::before {
  content: '';
  width: 40px;
  height: 40px;
  //   background: transparent no-repeat center center;
  //   background-size: 100% 100%;
  background-image: url('../../../images/svg/up.svg');
}

.up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .up:hover {
    background-color: var(--title-txt-color-opacity-80); /* цвет заднего фона при наведении */
  }
}
